asgiref==3.4.1
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.0
cycler==0.11.0
defusedxml==0.7.1
Django==3.2.5
django-cors-headers==3.11.0
django-rest-framework==0.1.0
djangorestframework==3.13.1
fonttools==4.32.0
greenlet==1.1.0
httpie==3.1.0
idna==3.3
jedi==0.18.0
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
multidict==6.0.2
neovim==0.3.1
numpy==1.21.2
packaging==21.3
pandas==1.4.2
parso==0.8.2
Pillow==9.0.1
pip==21.2.4
pycparser==2.21
Pygments==2.11.2
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.8
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-toolbelt==0.9.1
scikit-learn==1.0.2
scipy==1.8.0
setuptools==58.0.4
six==1.16.0
sqlparse==0.4.1
threadpoolctl==3.1.0
typing-extensions==3.10.0.0
urllib3==1.26.9
wheel==0.37.1
